<div class="message">
  <div class="header">
    <div class="left">
      <%= message.title %>
    </div>
    <% if (status_id == 2) { %>
    <div class="right">
      <div class="name"><%= message.user.first_name %> <%= message.user.last_name %> - </div>
      <div class="time"><%= message.time %></div>
    </div>
    <% } %>
  </div>
  <div><%= message.text %></div>
</div>